@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

form {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
}

.button {
    grid-column: 2;
    margin-top: 10px;
}
